body {
    margin: 0;
    padding: 0;
    font-family: 'Honk', system-ui;
    font-family: 'Poppins', sans-serif;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    padding: 1rem 1rem;

    font-size: 1.2rem;
    
    position: relative;

    left: 0;
    right: 0;
    margin-bottom: 2rem;
}
.header-logo {
    font-family: 'Honk', system-ui;
    font-size: 2rem;
}

.nav-list {
    display: flex;
    list-style: none;

    gap: 2rem;

    font-family: 'Poppins', sans-serif;

    color: white;
    text-wrap: nowrap;
    
}
.nav-link {
    color: white;
    text-decoration: none;
    font-size: clamp(0.7rem, 1rem + 0.2vw, 1.2vw);
}

.nav-link:hover{
    background-color: grey;
    color: black;
    padding: 2rem 1rem;
}

/* Burger-menu */
.burger-menu {
    border: none;
    background: none;
    color: inherit;

    display: grid;
    gap: 0.5rem;

    width: 2rem;
    cursor: pointer;

    display: none;

    transform: translateY(1000);
    
}

.burger-menu-icon {
    fill: white;
}

@media (max-width: 725px) {
    
    .header {

        padding-block: 1rem;
    }

    .nav-list {
        position: fixed;
        flex-direction: column;
        background-color: black;
        min-height: 60rem;
   
        right:0;
        top: 0;
       
        font-size: 1rem;
        padding-inline: 3rem;
        padding-top: 5rem;
        color: black;
   
        transform: translateX(100%);
        transition: transform .2s ease-in-out;
    }

    .nav-list-opened {
        transform: unset;
    }
    .nav-link:hover{
        background-color: none;
        color: none;
        padding: 0;
    }

    .burger-menu{
        display: block;
        z-index: 999;
    }

    .burger-menu-opened .burger-menu-icon{
        fill: white
    }

    .nav-link {
        color: black;
        font-size: clamp(1rem, 1.125rem + 0.5vw, 2vw);
    }

    .hero-wrapper {
        flex-direction: column;
        gap: 2rem;
        padding-top: 6rem;
    }

    .text-wrapper {
        width: 80%;
    }
    
    .hero-pic {
        width: 60%;
        height: 30%;
    }

    .main-footer {
       gap: 0;
       
    }
    .footer-nav-link {
        color: white;
        text-decoration: none;
        gap: 0;
    }
    .footer-nav-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        
    }
    
    
}

main {
    display: flex;
    justify-content: center;
    place-items: center ;
    align-items: center;
}


label {
    display: block;
}
/* radio */
.form-errand {
    width: fit-content;

    display: flex;
    border: 1px solid black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 3rem;
    margin-bottom: 2rem;
}

/* labels inside */
.form-errand label {
    border-radius: 8%;
    border: 1px solid rgb(123, 126, 129);
    padding: 1rem;
    background-color: aliceblue;
    
}

/* radio buttons */
.form-errand input[type="radio"] {
    width: 0;
}


/* click */
.form-errand input:checked + label {
    background-color: rgb(47, 13, 56);
    border: none;
    color: white;
}
#text-box {
    color: #000000;
    border-radius: 5px;
    padding: 1rem;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    padding-right: 5rem;
    width: 318px;
    margin-bottom: 1rem;
}

input[type="submit"] {
    padding: 1rem 1rem;
    border-color: #706e6e;
    border-radius: 6px;
    background-color: #0a8168f5;
    color: #000000;
    font-size: .8em;
    margin-left: 10px;
    margin-top: 1rem;
}
input[type="reset"] {
    padding: 1rem 1rem;
    border-radius: 6px;
    background-color: #0a8168f5;
    color: #000000;
    font-size: .8em;
}